.card {
  margin-top: 10px;
  border-radius: 0px 12px;
}
.card_small_margin {
  margin-top: 2px;
  border-radius: 0px 12px;
}

.grid_card {
  width: 100%;
}
.grid_card_details {
  background-color: #35794b;
  border-radius: 0px 12px;
  align-items: center;
}

.green_box {
  background-color: #35794b;
  border-radius: 0px 0px 0px 10px;
  width: fit-content;
}

.white_box {
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 0px 10px;
  flex: 1;
}

.white_box[data-isOpen="true"] {
  width: 100%;
}
.white_box[props-hasBigTitle="true"] {
  width: 30%;
}
