body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0efdd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
  color: #35794b;
  padding-bottom: 10px;
  font-size: 20px;
}

.text_cards {
  padding: 12px;
}

.section_grid {
  width: 100%;
  padding: 20px;
}

.red_text {
  color: #d81f1f;
}

.green_text {
  color: #35794b;
}

.white_text {
  color: #ffff;
}

.title_with_buttons {
  justify-content: space-between;
}

.add_button {
  color: #35794b;
}

.delete_button {
  color: #d81f1f;
}
.cancel_button {
  color: #d81f1f;
  padding-right: 5px;
}

.shadow {
  box-shadow: -2px 2px 6px 0px rgb(0 0 0 / 14%);
}
